h3{
    padding: 10px;
    margin-bottom: -8px;
    cursor: pointer;
}

.navbar{
    background-color:lightslategrey;
    margin-top: -10px;
}

body {
    position: relative;
    background: lightgray url("/images/skyline.jpeg") center;
    background-color:lightgray;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1900px;

}

img{
    padding-top: 20px;
}

h4, .text{
    padding: 20px;
}

h5{
    padding-right: 40px;
}

@media screen and (max-width: 991.98px) {
    .wrap {
      width: 90%;
      margin: auto;
    }
  
  }