h3{
    padding: 10px;
    margin-bottom: -8px;
    cursor: pointer;
}

.navbar{
    background-color:lightslategrey;
    margin-top: -10px;
}

/* .nav-link.active{
    background-color: darkslategray;
} */

/* .nav-pills{
    background-color: darkslategray;
} */

body {
    position: relative;
    background: lightgray url("/images/skyline.jpeg") center;
    background-color:lightgray;
}

img{
    padding-top: 20px;
}

h4,.text{
    padding: 20px;
}

@media screen and (max-width: 991.98px) {
    .wrap {
      width: 90%;
      margin: auto;
    }
  
  
    /* .mycondlink,
    .mylink {
      display: inline;
      padding: 15px;
    } */
  
  }